.FinanceInputPanel {
  padding: 10px 5px;
  border: 1px solid #333;
  text-align: center;
  margin-bottom: 10px;
  border-radius: 7px;

}

.inputPanel-text {
  width: 200px;
  height: 20px;
  margin-right: 15px;
  font-size: 16px;
}

.inputPanel-value {
  margin-right: 5px;
  width: 40px;
  height: 20px;
  font-size: 16px;
}

.inputPanel-select {
  width: 70px;
  height: 26px;
  background-color: #fff;
  margin-left: 15px;
}

.inputPanel-btn {
  width: 50px;
  height: 30px;
  margin-left: 15px;
  cursor: pointer;
}

