.FinanceStatPanel-wrapper {
  border: 1px solid #333;
  width: 100%;
  height: 25px;
  margin: 10px 0;
}

.FinanceStatPanel-car {
  display: inline-block;
  height: 100%;
  background: gold;
}

.FinanceStatPanel-food {
  display: inline-block;
  height: 100%;
  background: darkgreen;
}

.FinanceStatPanel-bills {
  display: inline-block;
  height: 100%;
  background: maroon;
}

.FinanceStatPanel-health {
  display: inline-block;
  height: 100%;
  background: saddlebrown;
}

.item {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 20px;
  margin-right: 8px;
}
.gold {
  background: gold;
}
.green {
  background: darkgreen;
}
.maroon {
  background: maroon;
}
.brown {
  background: saddlebrown;
}


