.ViewPanelItem {
  padding: 0 0 5px;
}
.ViewPanelItem-color {
  display: inline-block;
  width: 10px;
  height: 10px;
}

.ViewPanelItem-text {
  display: inline-block;
  width: 45%;
}
.ViewPanelItem-value {
  display: inline-block;
  width: 15%;
  text-align: right;
}
.ViewPanelItem-currency {
  display: inline-block;
  width: 8%;
  margin-left: 5px;
}
.ViewPanelItem-category {
  display: inline-block;
  width: 20%;
  padding-left: 10px;
}

.ViewPanelItem-remove {
  background: none;
  border: transparent;
  font-weight: 700;
  color: maroon;
}
.ViewPanelItem-remove:hover {
  cursor: pointer;
  font-weight: 700;
}